{% extends "inventory/base.html" %}
{% block title %}Home Inventory - Storage Containers{% endblock %}
{% block content %}

<h3>All storage containers</h3>

{% if context %}
<ul>
{% for obj in context %}

<li><a href="{% url 'inventory:storage_detail' obj.0.pk %}">{{ obj.0.name }}</a>
  {% if obj.0.description %}
  {{ obj.0.description }}
  {% endif %}
  {% if obj.1.0.name %}
  ({% for item in obj.1 %}{{ item.name }}, {%endfor%} etc.)
{% endif %}
</li>
{% endfor %}
</ul>
{% else %}
<p>No storage containers defined, please create one</p>
{% endif %}
{% endblock %}
